/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core roots defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

:root {
  --container-bg: hsl(0, 0%, 100%);
  --bg-color: hsl(212, 45%, 89%);
  --p-color: hsl(220, 15%, 55%);
  --h1-color: hsl(218, 44%, 22%);
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--container-bg);
  max-width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0px auto 20px auto;
}

img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.text {
  text-align: center;
  margin: 0 auto;
  padding: 8px 0;
}

.text h1 {
  font-size: 1.4rem;
  padding-bottom: 3px;
  color: var(--h1-color);
}

.text p {
  color: var(--p-color);
  margin-bottom: 0.9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
